{% extends 'libr/base.html' %}

{% block content %}
<br>
    <br>
    <br>
    <br>
    <br>
    <br>
<div class="row justify-content-center mt-5">
        <div class="col-md-7 text-center">

                 <h1>Collect your own library</h1>
            <p>Do you like reading? Create your own library! You have the opportunity to add your favorite books,
                mark them as read, search by title, author, genre and year. </p>
                <p>Let's get started!</p>
        <a role="button" class="btn btn-primary btn-lg" href="{% url 'signup_user' %}">Start</a>
        </div>
    </div>

{% endblock %}
